
/* checkout */
.checkout{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
/* checkout */
/* volunteers */
.volunteer-contain {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.bg-color-extra{
  background-color: white;
  margin-right: 20px;
  height: 680px;
}
.bg-color{
  height: 680px;
  padding: 0px 100px 100px 0px;
  display: grid;
  grid-template-columns: 1fr 5fr;
}
.bg-color input{
  width: 400px;
}
.bg-color textarea{
  width: 400px;
}
.bottom-left {
  position: absolute;
  bottom: 0px;
  left: 0px;
  margin-bottom: 0;
  right: 0px;
  cursor: pointer;
  padding: 30px 0px 40px 0px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.event-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
/* volunteers */
.also-check{
display: flex;
}
@media only screen and (max-width: 600px){
  .volunteer-contain {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .response{
    width: 400px;
  }
  .button-submit{
    margin-top: 90px;
   margin-right: 50px;
  }
  .event-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
  .checkout{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
  .also-check{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
}
@media only screen and (min-width: 601px) and (max-width: 1000px) {
  .volunteer-contain {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .event-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
  .button-submit{
    margin-top: 90px;
   margin-right: 50px;
  }
  .checkout{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
  .also-check{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
  }
}
